*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.header{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-between;
    box-shadow:var(100px) ;
    padding: 2%;
    background:  rgb(25, 156, 216);
    z-index: 10;
}
.logo img{
    margin-top: 10px;
    height: 90%;
    width: 90%;
    display: inline-block;
}
.nav{
    transform: translateX(-15%);
}
.nav a{
    color: white;
    font-size: 6 cap;
    border-radius:20px;
    padding: 50px; 
}
.nav a:hover{
    color: yellow;
    background: rgb(25, 156, 216);
}
.a{
    transform: translateY(+800px);
    display:flex;
    justify-content:center ;
    align-items: center;
    height: 100vh;
}
.b{
    padding-block: 5rem;
    margin-bottom: 750px;
}
.c{
    margin-inline: 1.75rem;
    border-radius: 20px;
    overflow: hidden;
}
.d{
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.e{
    position: relative;
    background-color: rgb(25, 156, 216);
    padding-top: 20px;
    margin-bottom: 20px;
}
.h{
    background-color: white;
    padding: 15px 20px;
    border-radius: 0;
    border: 1px solid black;
    text-align: center;
    position: relative;
    z-index: 10;
}
.f{
    background-size:cover ;
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}
.btn {
    width: 100%;
    height: 45px;
    background: rgb(25, 156, 216);
    border: none;
    outline: none;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
}
.btn:hover{
    opacity: 0.8;
    color: orange;
}
.atc {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color:rgb(25, 156, 216);;
    border-radius: 20px ;
    border-color: white;
    background: white;
    transform: translateX(-24%);
}